body {
    font-family: Arial, Helvetica, sans-serif;
}

#tag_table {
    margin: auto;
    width: 50%;
}

.wrapper {
    margin: auto;
    width: 60%;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

#title {
    text-align: center;
}

#db_connect {
    background-color: green;
    color: white;
    padding: 20px;
}

#view_tags {
    height: 500px;
    overflow: scroll;
    margin: 20px;
}



